.containerLogin{
    height: 80%;
    width: 60%;
    position: relative;

}
.containerLogin_contenido{
    margin-top: 20%;
    margin-left: 50%;
    height: auto;
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius:3px;
    text-align: center;
    -webkit-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
}

.loginHeader{
    height: 60px;
    border-bottom: 2px solid #FEBBBF;
    background-color: #6FD1D8;
 
}
.pheader{
    position: relative;
    text-align: left;
    margin: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    
}

.contbutton{
   margin-top:20px;
}

.buton_listar{
    position: relative;
    text-align: right;
    margin: 5px;
   margin-top: 30px;
  
    
}

.formLogin{
 padding: 10px;
 margin: 15px;
 
}

.inputs{
    margin: 10px;
    width: 100%;
}

.buttons{
    
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;

}

.imgLlogin{
    position: relative;
    z-index: 500000;
    width: 100px;
    bottom: 45px;
 
}

.imgLloginNavbar{
width: 30px;
bottom: 30px;
}

.option{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    font-weight: bold;
    
 
}

.option:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    color: #000000;
}

.btn_login{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid #6FD1D8;
}

.btn_guardarPersona{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid #6FD1D8;
}


.btn_login:hover{
    color: rgb(255, 255, 255);
    background-color: #6FD1D8;
  }



  .cortina{
    background: rgb(249,219,232);
    background: radial-gradient(circle, rgba(249,219,232,1) 16%, rgba(21,84,158,1) 100%);
    }
    
    .imgbackground{

        height: 100vh;
	
 }

 .home-video-play {
    position:fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
	object-position: 50% 50%;
    opacity: .20; 
   
 }

 #app{
    position: fixed;
    top: 0;
    width: 100%;
 }

.topbar{
    position: fixed;
    top: 0;
    z-index: 10000;
    background: #6FD1D8;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #FEBBBF;
    -webkit-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
    box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
}

.sisfarmaText{
    position: relative;
    left: 0;
    margin: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    

}

.img-topbar{
    position: relative;
    right: 0;
    font-size: 30px;
}

.img-topbar{
    text-align: right;
}

.img-log{
    width: 60px;
    height: 58px;
    background: #ffffff;
    border-radius: 15px;
}


.Navbar{
    height: 100vh;
    padding: 0;
}
.sidebar {
    width: 200px;
    height: 100%;
    background: #6FD1D8;
    left: -200px;
    border-right:2px solid #FEBBBF;
  }
  
  
  .sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: left;
  }

  .contentbar{
      margin-top: 30%;
      margin-right: 5px;
  }

  .Profiles__list{
    margin: auto;
    width: 80%;

  }

  .Profile__section-name-list {
	background: #ffffff;
	box-shadow: 04px 8px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	border-radius: 8px 8px 8px 8px;
	display: flex;
	padding: 1rem 0;
    width: 100%;
}

.Profile__avatar-list {
	border-radius: 50%;
	margin-right: 1rem;
	width: 70px;
	height: 70px;
	display: flex;
	margin-left: 1rem;
}
.twitter__blue_font {
	color: #38a1f3;
}
.tw__logo {
	width: 25px;
	height: 25px;
}

.Profiles__hero {
    width: 100%;
    padding: 2rem 0;
    background-color: #d5d83e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236eab6b' fill-opacity='0.48' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat;
    margin-bottom: 1rem;
  }
  
  .Profiles__hero>.Profiles__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Profiles__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 01rem;
  }
  
  .Profiles_conf-logo {
    margin-bottom: 2rem;
  }
  
  .Profiles__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .info{
    margin-top: 50px;
    height: 50px;
  }


.grid{
    margin:auto;
}

.Profiles__list{
    margin-top: 5%;
}

 