.containerLogin{
    height: 80%;
    width: 60%;
    position: relative;

}
.containerLogin_contenido{
    margin-top: 20%;
    margin-left: 50%;
    height: auto;
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius:3px;
    text-align: center;
    -webkit-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.75);
}

.loginHeader{
    height: 60px;
    border-bottom: 2px solid #FEBBBF;
    background-color: #6FD1D8;
 
}
.pheader{
    position: relative;
    text-align: left;
    margin: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    
}

.formLogin{
 padding: 10px;
 margin: 15px;
 
}

.inputs{
    margin: 10px;
    width: 100%;
}

.buttons{
    
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;

}

.imgLlogin{
    position: relative;
    z-index: 500000;
    width: 100px;
    bottom: 45px;
 
}

.btn_login{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid #6FD1D8;
}

.btn_guardarPersona{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid #6FD1D8;
}


.btn_login:hover{
    color: rgb(255, 255, 255);
    background-color: #6FD1D8;
  }



  .cortina{
    background: rgb(249,219,232);
    background: radial-gradient(circle, rgba(249,219,232,1) 16%, rgba(21,84,158,1) 100%);
    }
    
    .imgbackground{

        height: 100vh;
	
 }

 .home-video-play {
    position:fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
	object-position: 50% 50%;
    opacity: .20; 
   
 }

 #app{
    position: fixed;
    top: 0;
    width: 100%;
 }

.topbar{
    position: fixed;
    top: 0;
    z-index: 10000;
    background: #6FD1D8;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #FEBBBF;
    -webkit-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
    box-shadow: 3px 7px 13px 0px rgba(0,0,0,0.20);
}

.sisfarmaText{
    position: relative;
    left: 0;
    margin: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    

}

.img-topbar{
    position: relative;
    right: 0;
    font-size: 30px;
}

.img-topbar{
    text-align: right;
}

.img-log{
    width: 60px;
    height: 58px;
    background: #ffffff;
    border-radius: 15px;
}


.Navbar{
    height: 100vh;
    padding: 0;
}
.sidebar {
    width: 200px;
    height: 100%;
    background: #6FD1D8;
    left: -200px;
    border-right:2px solid #FEBBBF;
  }
  
  
  .sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  }

  .contentbar{
      margin-top: 30%;
  }
  
  
